<div class="container top-section">
  <div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="inner-content centered-block percent-90">
            <h1>Communities We Love</h1>
        <!--<h4 class="subtitle red">Why We Exist</h4>-->
          <p>We believe community partnerships are the most important part of our work. Choose a community to learn more:</p>
      </div>
    </div>
  </div>

  <div class="row with-top-margin">
    <div class="col-xs-12 col-md-3 community-thumb">
      <a href="/communities/nalpur">
        <%= image_tag("community-thumbs/nalpur.png") %>
        <h3> Nalpur </h3>
      </a>
    </div>
    <div class="col-xs-12 col-md-3 community-thumb">
      <a href="/communities/khalpar">
        <%= image_tag("community-thumbs/khalpar.png") %>
        <h3> Khalpar </h3>
      </a>
    </div>
    <div class="col-xs-12 col-md-3 community-thumb">
      <a href="/communities/gaborda">
        <%= image_tag("community-thumbs/gaborda.png") %>
        <h3> Gaborda & Basirhat </h3>
      </a>
    </div>
    <div class="col-xs-12 col-md-3 community-thumb">
      <a href="/communities/kantapakur">
        <%= image_tag("community-thumbs/kantapakur.png") %>
        <h3> Kantapakur </h3>
      </a>
    </div>
  </div>
</div>
<div class="fluid-wrapper with-large-top-margin">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471219.72560391924!2d88.36825265!3d22.6759958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C+West+Bengal!5e0!3m2!1sen!2sus!4v1401855792954" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>