<div class="container top-section">
  <div class="inner-content percent-90">
    <div class="row">
      <div class="col-xs-12 centered-block">
        <h1>We'd love to hear from you.</h1>
        <p>Want to stay connected? <a class="red" href="https://app.e2ma.net/app2/audience/signup/1762461/1736249/?v=a" target="_blank">Join our mailing list</a> or send us an <a class="red" href="mailto:fly@onelifeup.org">e-mail.</a></p>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('.contact-link').addClass('active');
  });
</script>