<div class="container top-section">
  <div class="inner-content percent-90">
    <div class="row">
      <div class="col-xs-12 centered-block">
        <h1>We'd love to hear from you.</h1>
        <p>Want to stay connected? Join our mailing list below or send us an e-mail at <a class="red" href="mailto:fly@onelifeup.org">fly@onelifeup.org</a></p>
      </div>
      <div class="small-vid">
      <script type="text/javascript" src="https://app.e2ma.net/app2/audience/tts_signup/1762461/137c4cbe0df36ce3847fef3269998e8d/1736249/?v=a"></script><div id="load_check" class="signup_form_message" >This form needs Javascript to display, which your browser doesn't support. <a href="https://app.e2ma.net/app2/audience/signup/1762461/1736249/?v=a"> Sign up here</a> instead </div><script type="text/javascript">signupFormObj.drawForm();</script>
    </div>
  </div>
</div>

<div class="footer-spacer"></div>
<script>
  $(document).ready(function(){
    $('.contact-link').addClass('active');
  });
</script>

<style>
.e2ma_signup_form_container{
  text-align: left;
}

#e2ma_signup_reset_button{
  display: none;
}

#e2ma_signup_submit_button{
  width: 100%;
  background: #ba2f04;
  color: #FFF;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  -webkit-appearance: none;
  border: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.e2ma_signup_form_element input{
  height: 45px !important;
  margin-bottom: 10px;
}

.e2ma_signup_form_label{
  font-family: "Lato", sans-serif;
}

@media(max-width: 600px){
  .small-vid{
    max-width: 90%;
    margin: 0px auto;
  }
}
</style>