<div class="container top-section">
  <div class="inner-content percent-90">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="centered-block">Donation FAQs</h1>
        <p class="with-top-margin"><strong>How do I cancel my monthly donation?</strong> Please email <a href="mailto:melanie@onelifeup.org" class="red">melanie@onelifeup.org</a> to cancel your monthly contribution.</p>
        <p><strong>What part of the month does my donation get taken out of my account?</strong></p>
        <p><strong>Is my information secure?</strong></p>
        <p><strong>Where does my money go?</strong></p>
        <p><strong>I'd like to become a church partner. What does this look like?</strong></p>
      </div>
    </div>
  </div>
</div>