<div class="container-fluid hero-block" id="home">
  <div class="container intro-block">
    <h1>One Life. Full Love.</h1>
    <p>At One Life we are committed to fully loving communities and individuals by providing the tools and opportunities to help people lift themselves from poverty to abundant life.</p>
    <a href="#" onclick="$('#what-we-do').scrollView();">Learn More</a>
    <!--<%= link_to "Donate Now", new_contribution_path %>-->
  </div>
</div>

<div class="container" id="what-we-do">
  <div class="strike-border" align="center">
    <h2>Whole-Life Love</h2>
  </div>
  <div class="intro-content">
    <p>One Life International is a nonprofit organization that serves the poor in Calcutta, India by providing opportunities for both children and adults in areas including education, nutrition, spiritual and physical wellness, and job training. </p>
    <p>
    Our staff of 32 Calcutta locals are actively involved in loving four communities in and around the city. We believe poverty is a complex problem. Whole-life change requires whole-life love.</p>
  </div>
  <div class="row" id="what-we-do-icons">
  </div>
</div>
<div class="footer-spacer"></div>