<div class="container top-section">
  <div class="inner-content percent-90">
    <div class="row">
      <div class="col-xs-12 col-md-9">
          <div class="inner-content padding-15">
              <h1>What We Do</h1>
          <!--<h4 class="subtitle red">Why We Exist</h4>-->
            <p>We partner with five communities in Kolkata, India to create equal opportunities among the lives of it's poorest citizens, those making less than $2/day. We believe holistic development and increased community ownership has the potential to change thousands of lives. We're implementing development through these programs:</p>
        </div>
      </div>
    </div>

    <div class="row center-block">
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <i class="fa fa-graduation-cap fa-10x"></i>
            <h4>Education</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <i class="fa fa-briefcase fa-10x"></i>
            <h4>Vocational Training</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <i class="fa fa-bar-chart-o fa-10x"></i>
            <h4>Nutritional Program</h4>
          </div>
        </div>
      </div>
    </div>
     <div class="row center-block program-square">
      <div class="col-xs-4">
      <div class="grey-square">
        <div class="inner-content">
        <i class="fa fa-stethoscope fa-10x"></i>
        <h4>Health and Wellness</h4>
      </div>

      </div>
      </div>
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <i class="fa fa-pencil fa-10x"></i>
            <h4>Literacy Classes</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <i class="fa fa-tint fa-10x"></i>
            <h4>Water Sanitation</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-block">
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <i class="fa fa-heart-o fa-10x"></i>
            <h4>Church Leadership</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <i class="fa fa-comments-o fa-10x"></i>
            <h4>Counseling</h4>
          </div>
        </div>
      </div>

      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <i class="fa fa-headphones fa-10x"></i>
            <h4>Cultural Programs</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.what-we-do-link').addClass('active');
  });
</script>