<div class="container-fluid sub-nav">
  <div class="container">
    <a href="#wellness" class="active"data-toggle="tab">Wellness</a>
    <a href="#education" data-toggle="tab">Education</a>
    <a href="#jobs" data-toggle="tab">Job Training</a>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="wellness">
    <h1>Wellness</h1>
  </div>
  <div class="tab-pane" id="education">
    <h1>Education</h1>
  </div>
  <div class="tab-pane" id="jobs">
    <h1>Job Training</h1>
  </div>
</div>