<div class="container" id="thank-you-block">
  <h1>Thank you for helping us build lives in Calcutta!</h1>
  <p class="percent-80">We feel like there's nothing better than to cross the finish line of our lives with a full heart and light pockets. The money you've given doesn't really help One Life. It helps real, earnest, great people in Calcutta and we're grateful to you for being kind and generous.</p><br>

    <p>You should receive an email confirmation with your donation details. Please email
    <a class="red" href="mailto:fly@onelifeup.org">fly@onelifeup.org</a> if you don't receive one or if you have any questions.</p>
</div>

<div class="container centered-block">
</div>

<div class="with-top-margin centered-block">
  <p class="small">One Life International is a registered 501(c)(3). All donations are 100% tax-deductible. </p>
  <p class="small red"><a href="/giving-support" class="red">Donation FAQ</a> | <a class="red" href="mailto:fly@onelifeup.org">Support</a>
</div>