<div class="container" id="thank-you-block">
  <h1>Thank you for your contribution!</h1>
  <p class="percent-90">You should receive an email confirmation with your donation details. Please email
    <a class="red" href="mailto:support@onelifeup.org">support@onelifeup.org</a> if you don't receive one or if you have any questions.</p>
</div>

<div class="container centered-block">
</div>

<div class="with-top-margin centered-block">
  <p class="small">One Life International is a registered 501(c)(3). All donations are 100% tax-deductible. </p>
  <p class="small red"><a href="/giving-support" class="red">Donation FAQ</a> | <a class="red" href="mailto:fly@onelifeup.org">Support</a>
</div>