<div class="community-header" id="khalpar">
  <div class='container'>
    <h1>Khalpar</h1>
    <a href="/communities" class="community-landing-link">< see all communities</a>
  </div>
</div>
<div class="container top-section">
  <div class="row">
    <div class="col-xs-12 col-md-8 community-content-block overview">
      <div class="inner-content">
        <h1>Overview</h1>
        <p>
          Khalpar is a slum located in the heart of downtown Kolkata in an area called Salt Lake. You may wonder if there's actually a lake nearby. There's not but there used to be. Back in the 60s, with population increasing in the city, the government decided to pump water out of this area of town in order to make room for more citizens.
        </p>

        <h4 class="subtitle red with-top-margin">MEANING</h4>

        <p>
          Khalpar is a Bengali word that literally means "side of the canal" because, not too surprisingly, its location is adjacent to a canal (which you can see by clicking the image to the right. The canal is just east of the slum). If you zoom in, you can see the school building in the slum just to the left of the green arrow - it's the big white square (it has a tin roof).
        </p><br>
        <p>See what everyday life is like in Khalpar > </p>
        <div class="video-wrapper"><iframe src="//player.vimeo.com/video/24403825?title=0&amp;byline=0&amp;portrait=0" width="600" height="381" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

      </div>
    </div><!--end Overview-->

    <div class="col-xs-12 col-md-8 community-content-block education" style="display: none;">
      <div class="inner-content">
        <h1>Education</h1>
        <h4 class="subtitle red with-top-margin">BRIDGE SCHOOLS</h4>

        <p>For kids who have never been to school, there's a school directly in the slum that's called a bridge school. Suppose a child is nine years old (4th grade age) but can't read or write at a 4th grade level. Before the child can attend formal school, they need to have a minimum standard of proficiency to enter that school. Bridge schools are an intense environment that gets children caught up so they can enroll in formal school. Bridge school students attend school from 8am-1pm every day.</p>

        <h4 class="subtitle red with-top-margin">FORMAL SCHOOL</h4>

        <p>Around the Khalpar area, there are a number of decent formal schools. Some of them are Bengali-medium schools (meaning the Kolkata native language of Bengali is the teaching language) and there are also English-medium schools. We send students to both. In total, there are three formal schools where the students go. The students attend their formal school from 8am-1pm every day and again from 2pm-4pm for tutoring at the project school.</p>

        <p>Altogether, the education programs in Khalpar serve 122 kids. ></p>
      </div>
    </div><!--end Education-->

    <div class="col-xs-12 col-md-8 community-content-block job-training" style="display: none;">
      <div class="inner-content">
        <h1>Job Training</h1>
        <p>Job training started in Khalpar in 2012 with a tailoring program for 16 Khalpar women, as the early efforts to coordinate increasingly meaningful and well-paying work. We now have programs in tailoring, taxi driving, cosmetology, and basic literacy.</p>

        <h4 class="subtitle red with-top-margin">TAILORING</h4>

        <p>Beginning in August 2012, 16 of the Khalpar women began a six-month tailoring class that teaches them how to sew and make clothes. Upon graduation, they received a sewing machine and a small loan to begin their business. They are now accepting orders and making clothes for the community. Our second class has just finished and is beginning to make and sell their products too.</p>

        <h4 class="subtitle red with-top-margin">TAXI DRIVING</h4>

        <p>Four boys, who range in age from 18-26, were sent to taxi driving school. One of them, Robi, now has an excellent job driving an ambulance. Two of the others gained jobs as an auto rickshaw driver and the last one is still looking for a job.</p>

        <h4 class="subtitle red with-top-margin">COSMETOLOGY</h4>

        <p>We've started a beautician training program this year. Many of the women in Khalpar work as maidservants in wealthy people's homes nearby. They have to work very long hours in return for very little pay. Beauty school has allowed students to learn a skill they enjoy and pays twice as much as being a maidservant.</p>
      </div>
    </div><!--end Job Training-->

    <div class="col-xs-12 col-md-8 community-content-block literacy-class" style="display: none;">
      <div class="inner-content">
        <h1>Literacy Class</h1>
        <p> Adult literacy class started in Salt Lake on 4th June 2012. A total 43 women
        enrolled in the first class. Now, classes are offered to both men and women, helping them have the ability to get better jobs. </p>
      </div>
    </div><!--end Literacy Class-->

    <div class="col-xs-12 col-md-8 community-content-block cultural-programs" style="display: none;">
      <div class="inner-content">
        <h1>Cultural Programs in Khalpar</h1>
        <p>

        </p>
      </div>
    </div><!--end Cultural Programs-->

    <div class="col-xs-12 col-md-4 with-top-margin sidebar-navigation hidden-xs">
      <div class="inner-content centered-block">
          <h4 class="active"><a href="#" class="side-nav-link active" data-content="overview">Overview</a></h4>
          <ul>
            <li><h4><a href="#" class="side-nav-link" data-content="education">Education</a></h4></li>
            <li><h4><a href="#" class="side-nav-link" data-content="job-training">Job Training</a></h4></li>
            <li><h4><a href="#" class="side-nav-link" data-content="literacy-class">Literacy Class</a></h4></li>
            <li><h4><a href="#" class="side-nav-link" data-content="cultural-programs">Cultural Programs</a></h4></li>
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-spacer"></div>
<script>
  $(document).ready(function(){
    $('.communities-link').addClass('active');
  });
</script>