<div class="community-header" id="khalpar">
  <div class='container'>
    <!--<h1>Khalpar</h1>-->
  </div>
</div>
<div class="container top-section">
  <div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="inner-content">
            <h1>Khalpar</h1>
        <!--<h4 class="subtitle red">Why We Exist</h4>-->
          <p>Khalpar is a slum located in the heart of downtown Kolkata in an area called Salt Lake. You may wonder if there's actually a lake nearby. There's not but there used to be. Back in the 60s, with population increasing in the city, the government decided to pump water out of this area of town in order to make room for more citizens.</p>

<h4 class="subtitle red with-top-margin">MEANING</h4>

<p>Khalpar is a Bengali word that literally means "side of the canal" because, not too surprisingly, its location is adjacent to a canal (which you can see by clicking the image to the right. The canal is just east of the slum). If you zoom in, you can see the school building in the slum just to the left of the green arrow - it's the big white square (it has a tin roof).</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 with-top-margin sidebar-navigation">
      <div class="inner-content centered-block grey-bg">
          <h4><a href="#" class="side-nav-link active">Overview</a></h4>
          <h4>Programs</a></h4>
          <ul>
            <li><h4><a href="#" class="side-nav-link">Education</a></h4></li>
            <li><h4><a href="#" class="side-nav-link">Job Training</a></h4></li>
            <li><h4><a href="#" class="side-nav-link">Literacy Class</a></h4></li>
            <li><h4><a href="#" class="side-nav-link">Cultural Programs</a></h4></li>
          </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.side-nav-link').on('click', function(){
      $('.side-nav-link').each(function(){
        $(this).removeClass('active');
      });
      $(this).addClass('active');
      return false;
    });
  })
</script>