<div class="community-header" id="khalpar">
  <div class='container'>
    <h1>Khalpar</h1>
  </div>
</div>
<div class="container top-section">
  <div class="row">
    <div class="col-xs-12 col-md-8 community-content-block overview">
      <div class="inner-content">
        <h1>Overview</h1>
        <p>
          Khalpar is a slum located in the heart of downtown Kolkata in an area called Salt Lake. You may wonder if there's actually a lake nearby. There's not but there used to be. Back in the 60s, with population increasing in the city, the government decided to pump water out of this area of town in order to make room for more citizens.
        </p>

        <h4 class="subtitle red with-top-margin">MEANING</h4>

        <p>
          Khalpar is a Bengali word that literally means "side of the canal" because, not too surprisingly, its location is adjacent to a canal (which you can see by clicking the image to the right. The canal is just east of the slum). If you zoom in, you can see the school building in the slum just to the left of the green arrow - it's the big white square (it has a tin roof).
        </p>
      </div>
    </div><!--end Overview-->

    <div class="col-xs-12 col-md-8 community-content-block education" style="display: none;">
      <div class="inner-content">
        <h1>Education</h1>
      </div>
    </div><!--end Education-->

    <div class="col-xs-12 col-md-8 community-content-block job-training" style="display: none;">
      <div class="inner-content">
        <h1>Job Training</h1>
      </div>
    </div><!--end Job Training-->

    <div class="col-xs-12 col-md-8 community-content-block literacy-class" style="display: none;">
      <div class="inner-content">
        <h1>Literacy Class</h1>
      </div>
    </div><!--end Literacy Class-->

    <div class="col-xs-12 col-md-8 community-content-block cultural-programs" style="display: none;">
      <div class="inner-content">
        <h1>Cultural Programs in Khalpar</h1>
        <p>

        </p>
      </div>
    </div><!--end Cultural Programs-->

    <div class="col-xs-12 col-md-4 with-top-margin sidebar-navigation">
      <div class="inner-content centered-block">
          <h4 class="active"><a href="#" class="side-nav-link active" data-content="overview">Overview</a></h4>
          <ul>
            <li><h4><a href="#" class="side-nav-link" data-content="education">Education</a></h4></li>
            <li><h4><a href="#" class="side-nav-link" data-content="job-training">Job Training</a></h4></li>
            <li><h4><a href="#" class="side-nav-link" data-content="literacy-class">Literacy Class</a></h4></li>
            <li><h4><a href="#" class="side-nav-link" data-content="cultural-programs">Cultural Programs</a></h4></li>
          </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.communities-link').addClass('active');
  });
</script>